In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/country_vaccination_stats.csv")

In [ ]:
#Question 4

for country, group in df.groupby('country'):
    df.loc[group.index, 'daily_vaccinations'] = group['daily_vaccinations'].fillna(group['daily_vaccinations'].min())

df['daily_vaccinations'].fillna(0, inplace=True)

In [ ]:
df.groupby("country", as_index=False).daily_vaccinations.min()

                 country  daily_vaccinations
0              Argentina              6483.0
1                Austria              3368.0
2                Bahrain               943.0
3                Belgium                 1.0
4                 Brazil               112.0
5               Bulgaria               472.0
6                 Canada               866.0
7                  Chile                51.0
8                  China            187500.0
9             Costa Rica               240.0
10               Croatia               989.0
11                Cyprus               534.0
12               Czechia              1822.0
13               Denmark              1994.0
14               Ecuador               108.0
15               England             37625.0
16               Estonia               309.0
17               Finland               459.0
18                France              5000.0
19               Germany             19721.0
20             Gibraltar               520.0
21                Greece               549.0
22               Hungary              1339.0
23               Iceland                63.0
24                 India            112150.0
25             Indonesia             11823.0
26               Ireland               550.0
27           Isle of Man                90.0
28                Israel              6887.0
29                 Italy               926.0
30                Kuwait                 0.0
31                Latvia               338.0
32             Lithuania               311.0
33            Luxembourg                62.0
34                 Malta               259.0
35                Mexico              1300.0
36           Netherlands              4000.0
37      Northern Ireland              1563.0
38                Norway               224.0
39                  Oman               817.0
40                Panama                 6.0
41                Poland              4300.0
42              Portugal              2791.0
43               Romania               712.0
44                Russia              3357.0
45          Saudi Arabia             14153.0
46              Scotland              3047.0
47                Serbia              1150.0
48            Seychelles               500.0
49             Singapore              2800.0
50              Slovakia               425.0
51              Slovenia              1270.0
52                 Spain             41496.0
53                Sweden              3859.0
54           Switzerland              3000.0
55                Turkey             67192.0
56  United Arab Emirates             30698.0
57        United Kingdom             46423.0
58         United States             57909.0
59                 Wales              1763.0

In [ ]:
#Question 5


top3 = df.groupby("country", as_index=False).daily_vaccinations.mean().sort_values('daily_vaccinations', ascending=False)[0:3]
top3

          country  daily_vaccinations
58  United States       514833.702703
8           China       327220.081081
24          India       171920.545455

In [ ]:
#Questions 6
sum =  df[df['date']=='1/6/2021']['daily_vaccinations'].sum()
sum

1485255.0

In [ ]:
#Question 7

UPDATE daily_vaccinations_table
SET daily_vaccinations = COALESCE(
    (
        SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY daily_vaccinations) OVER (PARTITION BY country)
        FROM daily_vaccinations_table sub 
        WHERE sub.country = daily_vaccinations_table.country AND daily_vaccinations IS NOT NULL
    ), 0)
WHERE daily_vaccinations IS NULL;